.transparent {
    -fx-background-color: rgba(0,0,0,0);
}
.padding-all-10 {
    -fx-padding: 0;
}
.container {
    -fx-background-color: linear-gradient(to bottom right, #FFFFFF ,#E3F2FD);
}
.filter-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0.5, 0, 0);
}

.filter-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.check-box {
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
}

.button1 {
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;
    -fx-border-radius: 100;
    -fx-pref-width: 145px;
    -fx-pref-height: 40px;
}

.button1-bound {
    -fx-background-color:  #2C3E50;
    -fx-background-radius: 8px;
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;
}

.button1-bound:hover {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button1-bound.selected {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.button1-bound.selected .button {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.table-view {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #2C3E50;
    -fx-border-color: #2C3E50;
    -fx-border-width: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8 16 8 16;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
    -fx-graphic-text-gap: 8;
}
.table-view .column-header {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #2C3E50;
    -fx-border-width: 0 0 1 0; /* viền dưới */
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
    -fx-font-size: 16px;
}


.table-view .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.8;
    -fx-transition: all 0.3s ease-in-out;
}

.table-view .button:hover {
    -fx-opacity: 1;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}







.root {
    -fx-background-color: #F9FAFC;
    -fx-border-color: #2C3E50;
    -fx-border-width: 2px;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0.2, 0, 2);
}

/* Tiêu đề section */
.label-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

/* Dấu * bắt buộc */
.label-required {
    -fx-text-fill: #D32F2F;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: white;
    -fx-border-color: #2C3E50;
    -fx-border-width: 1.5px;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6 10;
    -fx-font-size: 14px;
    -fx-text-fill: #2C3E50;
    -fx-pref-height: 40px;
}

.date-picker {
    -fx-background-color: white, #2C3E50;
    -fx-background-insets: 0, 0 0 0 0; /* lớp nền ngoài là "viền" */
    -fx-background-radius: 6;
    -fx-padding: 1;
}






.button-confirm {
    -fx-background-color:  #2C3E50;
    -fx-background-radius: 8px;
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;

    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;

}

.button-confirm:hover {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button-confirm.selected {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.button-confirm.selected .button {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button-cancel {
    -fx-background-color:   #6E6E6E;
    -fx-background-radius: 8px;
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;

    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;

}

.button-cancel:hover {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button-cancel.selected {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.button-cancel.selected .button {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


