/* ========= GENERAL LAYOUT ========= */

.container {
    -fx-background-color: linear-gradient(to bottom right, #FFFFFF ,#E3F2FD);
}


.manager-dashboard {
    -fx-background-color: #2C3E50;
}

/* ========= ICON & LOGO ========= */

.icon, .logo {
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;
}

.icon:hover, .logo:hover {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
}

.icon:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.icon.active {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.7), 10, 0.5, 0, 0);
}
.icon.selected {
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.9), 10, 0.4, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.logo:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/* ========= BUTTONS ========= */

.button {
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;
    -fx-border-radius: 100;
    -fx-pref-width: 145px;
    -fx-pref-height: 40px;
}

.button-bound {
    -fx-opacity: 1;
    -fx-transition: all 0.3s ease-in-out;
}

.button-bound:hover {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button-bound.selected {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}


.button-bound.selected .button {
    -fx-opacity: 0.7;
    -fx-effect: dropshadow(gaussian, rgba(0, 150, 255, 0.6), 10, 0.5, 0, 0);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* ========= SIDEBAR ========= */



.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.task {
    -fx-background-color: #34495E;
    -fx-background-radius: 0;
}

.padding-all-10 {
    -fx-padding: 0;
}